# Ignore Python compiled files
__pycache__/
*.py[cod]
.DS_Store
/result/
/crop/
/data/
craft_mlt_25k.pth
test/*
 [116.       370.66666 ]
 [116.       425.33334 ]
 [ 17.333334 425.33334 ]].png
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
test_json.zip
text_detector/weights/craft_ic15_20k.pth
pdf/MS_SOP16_SOP_20230118.pdf
